// ========================================= Colors ============================ 
$mainFontColor:rgb(19, 18, 18);
$mainbgcolor: #31A2B7;
// ========================================= Fonts ============================ 
$mainHeadersFont: 'Lobster',
cursive;
// ========================================= border ============================ 
$borderRaduis: 7px;