@import '../../../css/variables.scss';
nav {
    background-color: #31A2B7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mainHeadersFont;
}

#news {
    min-height: 100vh;
    padding: 25px;
    h3 {
        text-align: center;
        margin: 20px;
    }
    .recent {
        height: 80vh; // to be removed when it has content
        max-height: 80vh;
        overflow: auto;
        box-shadow: 0px 0px 10px #31A2B7;
    }
}